@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.container {
    width: 60vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background-color: #f8f9fa!important;
}

.navbar {
    width: 100%;
    height: 91px;
    position: relative;
    background: linear-gradient(to right, #ee9bda, #C040DF);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-brand {
    color: #e9ecef;
    font-weight: bold;
}

.rectangle {
    width: 27px;
    height: 9px;
    border-radius: 4.5px;
    background: linear-gradient(to right, #E537B9, #C040DF);
    margin-bottom: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.title {
    font-size: 23px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.insights-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #858585;
}

/* Add 3D effect to cards */
.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.carousel-control-next,
.carousel-control-prev {
    margin-top: 28%;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #292B2E;
}

.accordion-button {
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
}

.card-author {
    font-weight: 600;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #586069;
}

.card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #292B2E;
}

img {
    height: 60%;
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
}

img:hover {
    filter: brightness(100%);
}

.ellipse {
    height: 9px;
    width: 9px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.card-link {
    text-decoration: none;
    cursor: pointer;
}

.row {
    overflow: hidden;
}

@media (min-width: 360px) and (max-width: 450px) {
    .container {
        width: 100%;
    }

    img {
        height: 30%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 32%;
    }

    .card {
        font-size: 20px;
    }
}
